@import "tailwindcss";

:root {
  --background: #2c2694;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  background: #101557;
  color: var(--foreground);
  font-family: var(--font-kanit);
}
