@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
background: linear-gradient(to left,#1e40af, #0E0C2F);  font-family: var(--font-kanit);
  overflow-x: hidden;
}
